<!-- The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zach Alexander</title>
</head>
<body>
<div class="wrapper">
  <div class="content-top">
    <div class="_name">
        <h1 class="_name-self">Zach Alexander</h1>
        <h5 class="_name-position">Research and Data Associate </h5>
        <h6 class="_name-ccilink"><a href="https://www.courtinnovation.org/about/staff/zachary-alexander" target="_blank">Center for Court Innovation</a></h6>
        <button mdbBtn type="button" color="dark" rounded="false" outline="true" mdbWavesEffect>Contact Me</button>
      </div>
      <div class="_graphic-1">
      </div>
  </div>
  <div class="content-middle">
    <div class="_graphic-2">
      <h4 class="_graphic-script">As a researcher, I'm always looking for new ways to make information more accessible. My interests lie in the intersection between
        <strong>data</strong>, <strong>people</strong>, and <strong>technology</strong>.</h4>
    </div>
    <div class="_visuals-list">
      <h4 class="visual-list-title">Visuals:</h4>
      <ul>
        <li>10.15.2018 | <a routerLink='/senate-votes'>Senate Vote Percentage</a></li>
        <li>01.17.2019 | <a routerLink='/politics-map'>Gun Mortality Map</a></li>
        <li>04.01.2019 | <a routerLink='/parks-visual'>Parks Visual</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
