@import url('../../../styles.scss');

.body-wrapper {
    display: flex;
    flex-direction: column;
}

.title-wrapper {
    padding: 15px;
}

.visual-list-wrapper {
    padding: 15px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    font-size: 0.75em;
}

a {
    color: #272727;
    text-decoration: inherit;
}