a {
  font-weight: bolder;
}

nav {
  display: grid;
  grid-template-areas:
  "left right"
  ;
  grid-template:
  "left right" auto
  / 1fr 1fr
}

.left-nav {
  grid-area: left;
}

.right-nav {
  grid-area: right;
}
