<nav class="navbar navbar-white bg-white">
  <div class="left-nav navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href='/'>Home</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="right-nav navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/zaalexander/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      <a class="nav-item nav-link" href="https://github.com/zachalexander" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/zdalexander" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.instagram.com/zdalexander/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>

