@import '../../../styles.scss';

h2 {
    text-align: center;
}

h4 {
    margin: 0px 0px 20px 0px;
    color: $button-primary;
}

small {
    font-size: 0.65em;
}

.map {
  width: 100%;
  height: 100vh;
  margin: 10px auto;
}

#map-background,
#map-container,
#map-overlay,
#content {
  width: 100%;
  min-height: 100%;
  position: absolute;
}
#map-background {
  z-index: -1;
}
#map-container {
  z-index: 0;
}
#map-overlay {
  z-index: 1;
  background: none;
}
#content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  z-index: 0;
  font-weight: bolder;
  color: $button-primary;
}

.content-title {
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 6px;
  padding: 1em;
  margin: 10px;
  border: 1px solid #2b1b0a80;
  -webkit-box-shadow: 0px 4px 18px -8px rgba(0,0,0,1);
  -moz-box-shadow: 0px 4px 18px -8px rgba(0,0,0,1);
  box-shadow: 0px 4px 18px -8px rgba(0,0,0,1);
  color: #2b1b0aba;
}

.button-down {
  display: inline-block;
  border: 0;
  border-radius: 0px;
  padding: 1em 2em 1em 2em;
  background-color: rgba(255, 255, 255, 0.35);
  margin: 0;
  text-decoration: none;
  color: #2b1b0aba;
  font-family: $font-stack;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: 0px 4px 18px -8px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 4px 18px -8px rgba(0,0,0,0.44);
  box-shadow: 0px 4px 18px -8px rgba(0,0,0,0.44);
}

.button-down:hover,
.button-down:focus {
    background-image: $brown-gradient;
    color: $button-white;
}

.button-down:focus {
    outline: 1px solid #2b1b0aba;
    outline-offset: -4px;
}

.button:active {
    transform: scale(0.99);
}

#fade {
  position: absolute;
  bottom: 0;
  width: 100%;
//   height: 90%;
//   background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
//   background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
//   background-image: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
//   background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
//   background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
  pointer-events: none;
}

.scroll-click {
    cursor: pointer;
}

.nav-wrapper {
    position: absolute;
    width: 100%;
    color: #333;
    font-weight: 400;
    text-align: left;
    font-size: 2em;
    padding: 1.5em;
}

.back-link {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.45);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #content {
      font-size: 2em;
      line-height: 1.75em;
    }

    .button-down {
      font-size: 1.5rem;
    }

    #fade {
        position: absolute;
        bottom: 0;
        width: 100%;
        // height: 60%;
        // background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        // background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        // background-image: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        // background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        // background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        pointer-events: none;
    }

    .content-title {
        width: 200px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #content {
      font-size: 2.25em;
      line-height: 2em;
    }

    .button-down {
      font-size: 2rem;
    }

    #fade {
        position: absolute;
        bottom: 0;
        width: 100%;
        // height: 60%;
        // background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        // background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        // background-image: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        // background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        // background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
        pointer-events: none;
    }

    .content-title {
        width: 400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #content {
      font-size: 2.25em;
      line-height: 2em;
    }

    #content-title {
        width: 450px;
    }

    .button-down {
      font-size: 1.75rem;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #content-title {
        width: 600px;
    }

    #content {
      font-size: 2.5em;
      line-height: 2em;
    }

    .button-down {
      font-size: 1.75rem;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #content {
      font-size: 2.5em;
      line-height: 2em;
    }

    .button-down {
      font-size: 2rem;
    }
}




