
    <div class = "nav-wrapper">
        <div>
            <a [routerLink]="['/']" class="back-link"><small><strong>BACK TO FULL LIST</strong></small></a>
        </div>
    </div>
    <div id="map-background">
      <div id="map-container">
      </div>
      <div id="map-overlay">
      </div>
    </div>
    <div id="content">
      <div class = "content-title">
        <h4>A day hiking at Constitution Marsh Audubon Center and Sanctuary.</h4>
        <small>By ZACH ALEXANDER</small>
        <br />
        <small><strong><a class="scroll-click" (click) = "shiftDown()">Click to START</a></strong></small>
      </div>  
    </div>
    <div id="fade"></div>




