
<div (resized)="onResized($event)">
    <div class = "nav-wrapper">
        <div class = "child-wrapper">
            <a [routerLink]="['/']"><button class = "back-button">Back to Full List</button></a>
        </div>
        <div class="child-wrapper">Zach Alexander | Visuals</div>
    </div>
    
    <main>
        <section class = "top-content">
            <h4 class = "content-title">Which state had the highest firearm mortality rate in 2017?</h4>
        </section>
        <article class = "graphic">
            <div class="chart-canvas">
                <div id="tooltip-map" class="hidden">
                    <p><span id="value-map"></span></p>
                </div>
            </div>
        </article>
        <article class = "article">
            <p class = "summary-content">
                States are categorized from highest rate to lowest rate. Although adjusted for differences in age-distribution and population size, rankings by state do not take into account other state specific population characteristics that may affect the level of mortality. When the number of deaths is small, rankings by state may be unreliable due to instability in death rates.
            </p>
        </article>
        <section class = "left-content">Left side</section>
        <section class = "right-content">Right side</section>   
    </main>
    
    <footer class = "bottom-content">Bottom div</footer>
</div>





