<div class="section section-buttons">
  <div class="container">
    <div class="section profile-content">
        <div class="container adjust-face">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/profile.png" alt="Circle Image" class="img-rounded img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Zach Alexander<br /></h4>
                    <h6 class="description">Research and Data Associate</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>I've worked in the non-profit and for-profit sectors over the past seven years
                        to gain a better understanding of how data can be used to inform effective practices
                        across different sectors of society.</p> <br/>

                    <p>Currently, I work as a Research and Data Associate at <a href="https://www.courtinnovation.org/about/staff/zachary-alexander">the Center for Court Innovation (CCI)</a> in New York City.
                      CCI's goal is to create a more effective and humane justice system by performing original research and helping
                      launch reforms around the world.</p>
                    <br>
                    <br>
                    <a href="https://www.zachalexander.me" target="_blank"><button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i>View CV/Resume</button></a>
                </div>
            </div>
      </div>
  </div>
</div>
