 .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 100vh;
}

header,
aside,
article,
footer {
  background: #eaeaea;
  padding: 1em;
}

.sidebar-left {
    background: #fff;
}

.sidebar-right {
    background: steelblue;
}

img {
  width: 50vh !important;
  height: 50vh !important;
}

body {
  margin: 0 auto;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
