@import url('../../../styles.scss');

a:hover, a:focus{
    color: #272727;
}


text {
  font-size: 16px;
}

.chart-title {
  justify-content: center;
  text-align: center;
  font-family: 'Inconsolata', sans-serif;
  color: rgb(124, 124, 124);
  font-size: 25px;
  padding: 20px;
}

svg {
  background-color: #fff;
  display: block;
  margin: auto;
  max-width: 1000px;
  overflow: visible;
  z-index: 1;
  margin-top: 10px;
}

svg text.axis-labels {
  font-family: 'Inconsolata', sans-serif;
  fill: white;
  text-anchor: middle;
}

rect {
  border: 1px solid #333;
 -moz-transition: all 0.3s;
 -o-transition: all 0.3s;
 -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

rect:hover {
 stroke: #333;
 stroke-width: 2;
}

img {
  max-height: 80px;
  max-width: 80px;
  border: 3px solid #ddd;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px;
  grid-row-gap: 0;
  grid-column-gap: 0;
  align-items: center;
  justify-items: center;
  background-color: #272727;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.opening-paragraph {
  padding: 0px 15px 0px 15px;
}

.btn-rep {
  background-color:#fff;
  border: 2px solid rgb(255, 39, 0);
  color:rgb(255, 39, 0)
}

.btn-rep:hover,
.btn-rep:focus {
    background: rgb(255, 39, 0);
    color: #fff;
}

.btn-dem {
  background-color:#fff;
  border: 2px solid rgb(0, 143, 213);
  color: rgb(0, 143, 213);
}

.btn-dem:hover,
.btn-dem:focus {
    background: rgb(0, 143, 213);
    color: #fff;
}

.chart-canvas {
    background-color: #E0E5E3;
}

.body-container {
  display: grid;
  justify-items: center;  
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.button-section {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 175px;
  margin-top: 30px;
  margin-bottom: 10px;
  z-index: 100;
}

.button-interactive {
  align-content: top;
  text-align: center;
  align-items: top;
}

.chart-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-flow: row-wrap;
  justify-content: space-around;
}

#tooltip {
 display: grid;
 min-width: 200px;
 height: auto;
 padding: 10px;
 background-color: rgba(255, 255, 255, 1);
 border: 1px solid #ddd;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 2px;
 pointer-events: none;
 font-size: 18px;
}


#tooltip h4 {
 margin: 0;
 font-family: 'Inconsolata', sans-serif;
 font-size: 1em;
 line-height: 20px;
 text-align: center;
 }

 #tooltip p {
 margin: 0;
 font-family: 'Inconsolata', sans-serif;
 font-size: 0.95em;
 line-height: 20px;
 }

 .voting-info {
   text-align: center;
 }

 .vote-percent {
   background-color: #ddd;
   border: 1px solid #ddd;
   color: #333;
   padding: 4px;
 }

 svg text.bar-labels {
   font-family: 'Inconsolata', sans-serif;
   font-weight: bolder;
   font-size: 11px;
   text-anchor: middle;
 }

.x-axis-dem path,
.x-axis-dem line {
 fill: none;
 stroke: #333;
 shape-rendering: crispEdges;
}
.x-axis-dem text {
 font-family: 'Inconsolata', sans-serif;
 font-weight: bolder;
}

.y-axis-dem path,
.y-axis-dem line {
 fill: none;
 stroke: #333;
 shape-rendering: crispEdges;
}
.y-axis-dem text {
 font-family: 'Inconsolata', sans-serif;
 font-weight: bolder;
}

.x-axis-rep path,
.x-axis-rep line {
 fill: none;
 stroke: #333;
 shape-rendering: crispEdges;
}
.x-axis-rep text {
 font-family: 'Inconsolata', sans-serif;
 font-weight: bolder;
}

.y-axis-rep path,
.y-axis-rep line {
 fill: none;
 stroke: #333;
 shape-rendering: crispEdges;
}
.y-axis-rep text {
 font-family: 'Inconsolata', sans-serif;
 font-weight: bolder;
}

.error {
  text-align: center;
  background: #d4998e;
  margin-top: 50px;
  margin-bottom: 120px; 
  padding: 0px 20px 0px 20px
}

@media screen and (max-width: 1024px) {
  text{
    font-size: 1.35em;
  }

  #tooltip{
    font-size: 0.85em;
    width: 275px;
    padding: 15px;
  }

  img {
    max-width: 80px;
    max-height: 80px;
  }
  
}
  
@media screen and (max-width: 950px) {
  text{
    font-size: 1.25em;
  }

  #tooltip{
    font-size: 0.85em;
    width: 250px;
    padding: 15px;
  }

  img {
    max-width: 80px;
    max-height: 80px;
  }

  button {
    padding: 0.75rem 1rem;
  }

}


@media screen and (max-width: 650px) {
  text{
    font-size: .85em;
  }

  #tooltip{
    font-size: 0.75em;
    width: 250px;
    padding: 10px;
  }

  img {
    max-width: 60px;
    max-height: 60px;
  }

  button {
    padding: 0.75rem 1rem;
  }
}

@media screen and (max-width: 480px) {

  text{
    font-size: 0.75em;
  }

  #tooltip{
    font-size: 0.55em;
    width: 200px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;  
  }

  img {
    max-width: 40px;
    max-height: 40px;
  }

  button {
    padding: 0.5rem 0.75rem;
  }
}
