

    <div (resized)="onResized($event)">
      <div class = "content-wrapper">
        <div class="chart-title">After two years of votes in the Senate, who's most loyal to their party?</div>
        <meta name="referrer" content="no-referrer" />
      
        
        <div *ngIf="!serverError">
            <div class = chart-wrapper>
              <div id="tooltip" class="hidden">
                <p><span id="value"></span></p>
                <p><span id="value2"></span></p>
              </div>
            </div>
  
            <div *ngIf="serverError" class = "error">
              <h5>We're sorry, but the ProPublica server is currently down at the moment. Please check back in momentarily.</h5>
            </div>
        </div>
      </div>
      
          <mat-slider thumbLabel [displayWith]="formatLabel" min="0" max="5" step="0.5" value="0"></mat-slider>
    </div>




   
