@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$font-stack: "Work Sans", "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
$button-primary: #272727;
$button-white: #ffffff;
$black-gradient: linear-gradient(#333, #444, #333);
$brown-gradient: linear-gradient(#2b1b0a, #221506, #2b1b0a);
$gray-gradient: linear-gradient(#ddd, #eee, #ddd);
$white-nav: #ffffff;

* {
  font-family: $font-stack;
  text-rendering:optimizeLegibility;
}

html {
  margin: 0;
  font-size: 10px;
  height: 100%;
}

img {
  max-height: 80px;
  max-width: 80px;
  -webkit-box-shadow: 0px 4px 18px -8px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 4px 18px -8px rgba(0,0,0,0.44);
  box-shadow: 0px 4px 18px -8px rgba(0,0,0,0.44);
}

body {
  margin: 0;
  height: 100%;
  line-height: 2em;
}

h1 {font-size: 3.2em; }
h2 {font-size: 2.4em;}
h3 {font-size: 1.872em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.328em;}
h6 {font-size: 1.2em;}

ul {padding: 0;}
li {list-style: none;}

a {
    color: $button-primary;
    text-decoration: inherit;
}

// BUTTON STYLINGS //

button {
    display: inline-block;
    border: 1px solid $button-primary;
    border-radius: 6px;
    padding: 1em;
    margin: 0;
    text-decoration: none;
    background: $button-white;
    color: $button-primary;
    font-family: $font-stack;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: 0px 4px 18px -8px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 4px 18px -8px rgba(0,0,0,0.44);
    box-shadow: 0px 4px 18px -8px rgba(0,0,0,0.44);
}

button:hover,
button:focus {
    background-image: $black-gradient;
    color: $button-white;
}

button:focus {
    outline: 1px solid $button-primary;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.chart-button {
    background: $button-white;
    border: 2px solid $button-primary;
    color: $button-primary;
    padding: 0.4rem 0.7rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
      grid-template-areas:
          "top"
          "graphic"
          "article"
          "bottom"
      ;

      grid-template:
      "top" 8rem
      "graphic" 30rem
      "article" 20rem
      "bottom" 10rem
      / 1fr
  }

  body {
    font-size: 1.35em;
  }

  text {
    font-size: 0.75em;
  }

  .right-content{
      display: none;
      margin: 0 !important;
  }

  .left-content{
      display: none;
      margin: 0 !important;
  }

  div#tooltip-map {display: none !important}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 1.45em;
  }

  text {
    font-size: 0.90em;
  }

  .right-content{
      display: none;
      margin: 0 !important;
  }

  .left-content{
      display: none;
      margin: 0 !important;
  }

  div#tooltip-map {display: none !important}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

body {
    font-size: 1.75em;
}

text {
    font-size: 1em;
}

  .right-content{
      display: unset;
  }

  .left-content{
      display: unset;
  }

  div#tooltip-map {display: unset !important}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   body {
    font-size: 1.75em;
  }

  text {
    font-size: 1em;
  }

  .right-content{
      display: unset;
  }

  .left-content{
      display: unset;
  }

  div#tooltip-map {display: unset !important}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 2em;
  }

  text {
    font-size: 1em;
  }

  .right-content{
      display: unset;
  }

  .left-content{
      display: unset;
  }

  div#tooltip-map {display: unset !important}

}
