@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-stack: "Work Sans", sans-serif;
$button-primary: #272727;
$button-white: #ffffff;

* {
    font-family: $font-stack;
}

html {
    margin: 0;
    font-size: 10px;
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

a {
    color: #fff;
    text-decoration: inherit;
}

a.button:hover {
    color: $button-primary;
}


// BUTTON STYLINGS //

button {
    display: inline-block;
    border: 2px solid $button-white;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: $button-primary;
    color: $button-white;
    font-family: $font-stack;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: $button-white;
    color: $button-primary;
}

button:focus {
    outline: 1px solid $button-white;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.chart-button {
    background: $button-white;
    border: 2px solid $button-primary;
    color: $button-primary;
    padding: 0.4rem 0.7rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8em;
  }

  text {
    font-size: 1em;
  }

  img {
    max-width: 80px;
    max-height: 80px;
  } 
  
  button {
    font-size: 1em;
    padding: 1em;
  }
}

@media screen and (max-width: 1024px) {
    body {
      font-size: 1.8em;
    }
  
    text {
      font-size: 1em;
    }
  
 
    img {
      max-width: 80px;
      max-height: 80px;
    } 
    
    button {
      font-size: 1em;
      padding: 1em;
    }
  
  
  }
    
  @media screen and (max-width: 950px) {
    body {
      font-size: 1.65em;
    }
  
    text {
      font-size: 1em;
    }
  
    img {
      max-width: 80px;
      max-height: 80px;
    }
  
    button {
      font-size: 1em;
      padding: 1em;
    }
   
  }
  
  
  @media screen and (max-width: 650px) {
    body {
      font-size: 1.25em;
    }
  
    text {
      font-size: 1em;
    }
   
    img {
      max-width: 60px;
      max-height: 60px;
    }
  
    h4 {
      font-size: 1em;
    }
  
    button {
      font-size: 1em;
      padding: 1em;
    }
  }
  
  @media screen and (max-width: 480px) {
  
    body {
      font-size: 1.2em;
    }
  
    text {
      font-size: 1em;
    }
    
    img {
      max-width: 40px;
      max-height: 40px;
    }
  
    h4 {
      font-size: 1em;
    }
  
    .back-button {
      margin-left: 5px;
    }
  
 
  }
  
