@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    font-family: "Quicksand", sans-serif;
}

body {
    font-size: 1.25em;
    text-align: left;
}

