
    <div class="page-header section-dark" style="background-image: url('assets/img/background-home.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h2 class="presentation-title">Hello;</h2>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        <app-components></app-components>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">My Visuals</h2>
                        <p class="description">As a researcher, I'm always looking for new ways to make information more accessible. My interests
                          lie in the intersection between <strong>data</strong>, <strong>people</strong>, and <strong>technology</strong>.</p>
                    </div>
                </div>
            </div>
              <div class="section visuals-list col-md-8 ml-auto mr-auto text-center">
                  <ul>
                    <li>01.15.2019 | <a routerLink='/senate-votes'>Senate Vote Percentage</a></li>
                    <!-- <li>01.17.2019 | <a routerLink='/politics-map'>Gun Mortality Map</a></li>
                    <li>04.01.2019 | <a routerLink='/parks-visual'>Parks Visual</a></li> -->
                  </ul>
              </div>
            </div>
    </div>
