li {
 list-style-type: none;
 font-size: 1.25em;
 color: #fff;
 font-weight: 400;
}

ul {
  padding: 0;
}
.visuals-list {
  background: inherit;
}

// .presentation-title {
//   font-size: 0.85em;
// }
